			<!-- Page Wrapper -->
            <div class="page-wrapper">

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Leaves</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Leaves</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<!-- Leave Statistics -->
					<div class="row">
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Today Presents</h6>
								<h4>12 / 60</h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Planned Leaves</h6>
								<h4>8 <span>Today</span></h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Unplanned Leaves</h6>
								<h4>0 <span>Today</span></h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Pending Requests</h6>
								<h4>12</h4>
							</div>
						</div>
					</div>
					<!-- /Leave Statistics -->

					<!-- Search Filter -->
					<div class="row filter-row">
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
<!--							<div class="form-group form-focus">-->
<!--								<input type="text" class="form-control floating">-->
<!--								<label class="focus-label">Employee Name</label>-->
<!--							</div>-->
               <div class="form-group form-focus select-focus">
                 <select class="form-control floating" [(ngModel)]="employee" (change)="changeSelect()">
                   <option *ngFor="let option of this.common.allEmpList" [ngValue]="option">{{option.empName}}</option>
                 </select>
                 <label class="focus-label">Employee Name</label>
               </div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
							<div class="form-group form-focus select-focus">
								<select class="form-control floating" [(ngModel)]="leaveType">
									<option *ngFor="let leaveTy of common.allLeaves1" [ngValue]="leaveTy">{{leaveTy.leaveTypeDescr}}</option>
								</select>
								<label class="focus-label">Leave Type</label>
							</div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
							<div class="form-group form-focus select-focus">
								<select class="form-control floating" [(ngModel)]="leaveStatus">
                  <option *ngFor="let leavest of common.allLeaveStatus" [ngValue]="leavest">{{leavest.lasdescr}}</option>
								</select>
								<label class="focus-label">Leave Status</label>
							</div>
					   </div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
							<div class="form-group form-focus">
								<div>
									<input class="form-control floating" [(ngModel)]="fromDate" type="date">
								</div>
								<label class="focus-label">From</label>
							</div>
						</div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
							<div class="form-group form-focus">
								<div>
									<input class="form-control floating" [(ngModel)]="toDate" type="date">
								</div>
								<label class="focus-label">To</label>
							</div>
						</div>
					   <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
							<a class="btn btn-success btn-block" (click)="filter()"> Search </a>
					   </div>
                    </div>
					<!-- /Search Filter -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>Employee</th>
											<th>Leave Type</th>
											<th>From</th>
											<th>To</th>
											<th>No of Days</th>
											<th>Reason</th>
											<th class="text-center">Status</th>
<!--											<th class="text-right">Actions</th>-->
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let employee of employeeLeaveDTO;index as i">
											<td>
												<h2 class="table-avatar">
													<a href="profile.html" class="avatar"><img alt="" src="{{employee.employeeDetails.photo}}"></a>
													<a href="#">{{employee.employeeDetails.empName}} <span>{{employee.employeeDetails.empDesignation.empDesignationName}}</span></a>
												</h2>
											</td>
											<td>{{employee.leaveTypeId.leaveTypeDescr}}</td>
											<td>{{this.common.epochtoDate(employee.empLeaveFromDate)}}</td>
											<td>{{this.common.epochtoDate(employee.empLeaveToDate)}}</td>
<!--											<td>9 Mar 2019</td>-->
											<td>{{employee.totalDay}} days</td>
											<td>{{employee.leaveReason}}</td>
                      <td class="text-center">
                        <div class="dropdown action-label">
                          <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-dot-circle-o text-purple"></i> {{employee.masterLeaveApprovedStatus.lasdescr}}
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div *ngFor="let leavestatus of common.allLeaveStatus">
                            <a *ngIf="leavestatus.lasdescr!=employee.masterLeaveApprovedStatus.lasdescr" (click)="approveLeave(employee,leavestatus,i)" class="dropdown-item"><i class="fa fa-dot-circle-o text-purple" ></i> {{leavestatus.lasdescr}}</a>
                            </div>
                          </div>
                        </div>
                      </td>
<!--											<td class="text-center">-->
<!--												<div class="dropdown action-label">-->
<!--                          <a  *ngIf="employee.masterLeaveApprovedStatus.lasdescr=='Pending'" class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Pending</a>-->
<!--                          <a *ngIf="employee.masterLeaveApprovedStatus.lasdescr=='Approved'" class="dropdown-item" href="#" data-toggle="modal" data-target="#approve_leave"><i class="fa fa-dot-circle-o text-success"></i> Approved</a>-->
<!--                          <a *ngIf="employee.masterLeaveApprovedStatus.lasdescr=='Reject'" class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Declined</a>-->

<!--                          <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a  *ngFor="let leavestatus of common.allLeaveStatus" class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-purple"></i> {{leavestatus.lasdescr}}</a>-->
<!--                          </div>-->
<!--												</div>-->
<!--											</td>-->
<!--											<td class="text-right">-->
<!--												<div class="dropdown dropdown-action">-->
<!--													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>-->
<!--													<div class="dropdown-menu dropdown-menu-right">-->
<!--														<a *ngFor="let leavestatus of common.allLeaveStatus" class="dropdown-item" (click)="approveLeave(employee,'Approve')"><i class="fa fa-pencil m-r-5"></i> {{leavestatus.lasdescr}}</a>-->
<!--&lt;!&ndash;														<a class="dropdown-item" (click)="approveLeave(employee,'Reject')"><i class="fa fa-trash-o m-r-5"></i> Reject</a>&ndash;&gt;-->
<!--													</div>-->
<!--												</div>-->
<!--											</td>-->

                    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
			      </div>
			<!-- Page Wrapper -->
