			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Viewer'"><a [routerLink]="['admin-dashboard']" [routerLinkActive]="['active']" >Admin Dashboard</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['employee-dashboard']" [routerLinkActive]="['active']">Employee Dashboard</a></li>
								</ul>
							</li>

							<li class="menu-title">
								<span>Employees</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="fas fa-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['all-employee']" [routerLinkActive]="['active']">All Employees</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['attendence-employee']" [routerLinkActive]="['active']">Attendance (Employee)</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Leaves (Employee)</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Performance</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Expenses</a></li>



								</ul>
							</li>
							<li class="menu-title"  *ngIf="userRole=='Admin'||userRole=='Super Admin'">
								<span *ngIf="userRole=='Admin'||userRole=='Super Admin'">Admin</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot" *ngIf="userRole=='Admin'||userRole=='Super Admin'"><i class="la fas fa-user-tie"></i> <span> Admin</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['all-employee']" [routerLinkActive]="['active']">All Employees</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['attendence-admin']" [routerLinkActive]="['active']">Attendance (Admin)</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['leaves-admin']" [routerLinkActive]="['active']">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Performance</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Expenses</a></li>
								</ul>
							</li>
							<li class="menu-title">
								<span>Notification</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="fas fa-inbox"></i> <span> Inbox</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['notification']" [routerLinkActive]="['active']">Notification</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Pending Task</a></li>
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Archive</a></li>

								</ul>
							</li>
							<li class="menu-title">
								<span>My Team</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="fas fa-users"></i> <span> My Team</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Under Your Team</a></li>
								</ul>
							</li>
							<li class="menu-title">
								<span>Org</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="fas fa-file-alt"></i> <span><a [routerLink]="['employee-directory']" [routerLinkActive]="['active']">Document</a></span> </a>
<!--								<ul style="display: none;">-->
<!--									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['personal-document']" [routerLinkActive]="['active']">Personal Document</a></li>-->
<!--									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['company-document']" [routerLinkActive]="['active']">Company Document</a></li>-->

<!--								</ul>-->
							</li>

							<li class="submenu">
								<a href="#" class="noti-dot"><i class="fas fa-address-book"></i> <span> Directory</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
<!--									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['employee-directory']" [routerLinkActive]="['active']">Employee Directory</a></li>-->
									<li *ngIf="userRole=='Admin'||userRole=='Super Admin'||userRole=='Employee'"><a [routerLink]="['leaves-employee']" [routerLinkActive]="['active']">Organisation Directory</a></li>

								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-money"></i> <span> PayRoll </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;" >
									<li *ngIf="userRole=='Admin'"><a [routerLink]="['empolyee-salary']" [routerLinkActive]="['active']"> Employee Salary </a></li>
									<li *ngIf="userRole=='Admin'"><a [routerLink]="['payslip']" [routerLinkActive]="['active']"> Payslip </a></li>
									<li *ngIf="userRole=='Admin'"><a [routerLink]="['payslip']" [routerLinkActive]="['active']"> Tax Declaration </a></li>
									<li><a [routerLink]="['report']" [routerLinkActive]="['active']"> Attendance Report</a></li>

								</ul>
							</li>
              <li class="menu-title" *ngIf="userRole=='Admin'||userRole=='Super Admin'">
                <span>Master</span>
              </li>
              <li class="submenu">
                <a href="#" class="noti-dot"><i class="fas fa-inbox"></i> <span> Master Data</span> <span class="menu-arrow"></span></a>
                <ul style="display: none;">
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['department']" [routerLinkActive]="['active']">Add/Update Department</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['designation']" [routerLinkActive]="['active']">Add/Update Designation</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['gender']" [routerLinkActive]="['active']">Add/Update Gender</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['marital-status']" [routerLinkActive]="['active']">Add/Update Marital Status</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['relation']" [routerLinkActive]="['active']">Add/Update Relation</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['blood-group']" [routerLinkActive]="['active']">Add/Update Blood Group</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['document-type']" [routerLinkActive]="['active']">Add/Update Document Type</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['upload-attendance']" [routerLinkActive]="['active']">Add Attendance</a></li>
                  <li *ngIf="userRole=='Admin'||userRole=='Super Admin'"><a [routerLink]="['upload-salary']" [routerLinkActive]="['active']">Add Salary</a></li>

                </ul>
              </li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
