			<!-- Page Wrapper -->
            <div class="page-wrapper">
				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Welcome {{name}}!</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Dashboard</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div *ngIf="this.common.dashboardDta!=undefined" class="row">
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fas fa-user-check"></i></span>
									<div class="dash-widget-info">
										<h3>{{this.common.dashboardDta.totalPresentEmp}}</h3>
										<span>Present Today</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-user-times"></i></span>
									<div class="dash-widget-info">
										<h3>{{this.common.dashboardDta.absentEmp}}</h3>
										<span>Absent Today</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-user-clock"></i></span>
									<div class="dash-widget-info">
										<h3>{{this.common.dashboardDta.totalLeaveEmp}}</h3>
										<span>On Leave Today</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
									<div class="dash-widget-info">
										<h3>{{this.common.dashboardDta.totalEmp}}</h3>
										<span>Total Employees</span>
									</div>
								</div>
							</div>
						</div>
					</div>
                  <div *ngIf="this.common.dashboardDta!=undefined" class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                      <div class="card dash-widget">
                        <div class="card-body">
                          <span class="dash-widget-icon"><i class="fas fa-user-check"></i></span>
                          <div class="dash-widget-info">
                            <h3>{{this.common.dashboardDta.activeEmp}}</h3>
                            <span>Active</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                      <div class="card dash-widget">
                        <div class="card-body">
                          <span class="dash-widget-icon"><i class="fa fa-user-times"></i></span>
                          <div class="dash-widget-info">
                            <h3>{{this.common.dashboardDta.inActiveEmp}}</h3>
                            <span>Inactive</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                      <div class="card dash-widget">
                        <div class="card-body">
                          <span class="dash-widget-icon"><i class="fa fa-user-clock"></i></span>
                          <div class="dash-widget-info">
                            <h3>{{this.common.dashboardDta.onTimeEmp}}</h3>
                            <span>On Time</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                      <div class="card dash-widget">
                        <div class="card-body">
                          <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                          <div class="dash-widget-info">
                            <h3>{{this.common.dashboardDta.lateEmp}}</h3>
                            <span>Late</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
					<!-- Statistics Widget -->
					<div class="row" *ngIf="this.common.dashboardDta!=undefined">
						<div class="col-md-12 col-lg-12 col-xl-4 d-flex">
							<div class="card flex-fill dash-statistics">
								<div class="card-body" *ngIf="this.common.dashboardDta!=undefined">
									<h5 class="card-title">Statistics</h5>
									<div class="stats-list">
										<div class="stats-info">
											<p>Today Leave <strong>{{this.common.dashboardDta.totalLeaveEmp}} <small>/ {{this.common.dashboardDta.totalEmp}}</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-primary" role="progressbar" [style.width]="this.common.dashboardDta.totalLeaveEmp*100/this.common.dashboardDta.totalEmp+'%'" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Present Today <strong>{{this.common.dashboardDta.totalPresentEmp}} <small>/ {{this.common.dashboardDta.totalEmp}}</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-warning" role="progressbar" [style.width]="this.common.dashboardDta.totalPresentEmp*100/this.common.dashboardDta.totalEmp+'%'" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Absent Today <strong>{{this.common.dashboardDta.absentEmp}} <small>/ {{this.common.dashboardDta.totalEmp}}</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar" [style.width]="this.common.dashboardDta.absentEmp*100/this.common.dashboardDta.totalEmp+'%'" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Active <strong>{{this.common.dashboardDta.activeEmp}} <small>/ {{this.common.dashboardDta.totalEmp}}</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar" [style.width]="this.common.dashboardDta.activeEmp*100/this.common.dashboardDta.totalEmp+'%'" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Inactive <strong>{{this.common.dashboardDta.inActiveEmp}} <small>/ {{this.common.dashboardDta.totalEmp}}</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-info" role="progressbar" [style.width]="this.common.dashboardDta.inActiveEmp*100/this.common.dashboardDta.totalEmp+'%'" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
            <div class="col-md-12 col-lg-6 col-xl-4 d-flex">
              <div class="card flex-fill">
                <div class="card-body">
                  <h4 class="card-title">Today Late <span class="badge bg-inverse-danger ml-2">{{common.dashboardDta.lateEmp}}</span></h4>
                  <ng-container *ngFor="let lateEmp of common.dashboardDta.lateEmpList">
                  <div class="leave-info-box">
                    <div class="media align-items-center">
                      <a href="profile.html" class="avatar"><img alt="" src="assets\img\user.jpg"></a>
                      <div class="media-body">
                        <div class="text-sm my-0">{{lateEmp.empName}}</div>
                      </div>
                    </div>
                    <div class="row align-items-center mt-3">
                      <div class="col-6">
                        <h6 class="mb-0">4 Sep 2019</h6>
                        <span class="text-sm text-muted">Leave Date</span>
                      </div>
                      <div class="col-6 text-right">
                        <span class="badge bg-inverse-danger">Pending</span>
                      </div>
                    </div>
                  </div>
                  </ng-container>

                  <div class="load-more text-center" *ngIf="common.dashboardDta.lateEmpList.length>1">
                    <a class="text-dark" href="javascript:void(0);">Load More</a>
                  </div>
                </div>
              </div>
            </div>


						<div class="col-md-12 col-lg-6 col-xl-4 d-flex">
							<div class="card flex-fill">
								<div class="card-body">
									<h4 class="card-title">Today Leave <span class="badge bg-inverse-danger ml-2">{{common.dashboardDta.totalLeaveEmp}}</span></h4>
                  <ng-container *ngFor="let lateEmp of common.dashboardDta.absentEmpList">
                    <div class="leave-info-box">
                      <div class="media align-items-center">
                        <a href="profile.html" class="avatar"><img alt="" src="assets\img\user.jpg"></a>
                        <div class="media-body">
                          <div class="text-sm my-0">{{lateEmp.empName}}</div>
                        </div>
                      </div>
                      <div class="row align-items-center mt-3">
                        <div class="col-6">
                          <h6 class="mb-0">4 Sep 2019</h6>
                          <span class="text-sm text-muted">Leave Date</span>
                        </div>
                        <div class="col-6 text-right">
                          <span class="badge bg-inverse-danger">Pending</span>
                        </div>
                      </div>
                    </div>
                  </ng-container>

									<div class="load-more text-center" *ngIf="common.dashboardDta.leaveEmpList.length>1">
										<a class="text-dark" href="javascript:void(0);">Load More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Statistics Widget -->


				</div>
				<!-- /Page Content -->

            </div>
			<!-- /Page Wrapper -->
