			<!-- Page Wrapper -->
            <div class="page-wrapper">

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Profile</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Profile</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->


					<div class="card mb-0" *ngIf="profileData!=undefined">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="profile-view">
										<div class="profile-img-wrap">
											<div class="profile-img">
												<a><img alt="" src="{{profileData.photo}}"></a>
											</div>
										</div>
										<div class="profile-basic">
											<div class="row">
												<div class="col-md-5">
													<div class="profile-info-left">
														<h3 class="user-name m-t-0 mb-0" *ngIf="profileData.empName!=undefined">{{profileData.empName}}</h3>
<!--														<h6 class="text-muted">Information Technology</h6>-->
														<small class="text-muted"  *ngIf="profileData.empDesignation!=undefined">{{profileData.empDesignation.empDesignationName}}</small>
														<div class="staff-id" *ngIf="profileData.empId!=undefined">Employee ID : {{profileData.empId}}</div>
														<div class="small doj text-muted" *ngIf="profileData.employeeSubDetails!=undefined">Date of Join : {{profileData.employeeSubDetails.dateOfJoining|date}}</div>
														<div class="small doj text-muted" *ngIf="profileData.officeAddress!=undefined">Location : {{profileData.officeAddress.location}}</div>
<!--														<div class="staff-msg"><a class="btn btn-custom" >Send Mail</a></div>-->
													</div>
												</div>
												<div class="col-md-7" *ngIf="profileData.employeeSubDetails!=undefined">
													<ul class="personal-info">
														<li>
															<div class="title">Phone:</div>
															<div class="text"><a href="tel:{{profileData.mobileNo}}">{{profileData.mobileNo}}</a></div>
														</li>
														<li>
															<div class="title">Email:</div>
															<div class="text"><a href="mailto:{{profileData.emailId}}">{{profileData.emailId}}</a></div>
														</li>
														<li>
															<div class="title">Birthday:</div>
															<div class="text">{{profileData.employeeSubDetails.empDob|date}}</div>
														</li>

														<li>
															<div class="title">Gender:</div>
															<div class="text">{{profileData.employeeSubDetails.gender.genderDesc}}</div>
														</li>
														<li>
															<div class="title">Reports to:</div>
															<div class="text">
															   <div class="avatar-box">
																  <div class="avatar avatar-xs">
																	 <img src="assets/img/profiles/avatar-16.jpg" alt="">
																  </div>
															   </div>
															   <a href="profile.html">
																	Jeffery Lalor
																</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="pro-edit" (click)="updateBasicInfo()"><a data-target="#profile_info" data-toggle="modal" class="edit-icon" href="#"><i class="fa fa-pencil"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card tab-box"  *ngIf="profileData!=undefined">
						<div class="row user-tabs">
							<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="nav-item"><a href="#emp_profile" data-toggle="tab" class="nav-link active">Profile</a></li>
									<li class="nav-item"><a href="#bank_statutory" data-toggle="tab" class="nav-link">Bank & Statutory <small class="text-danger">(Admin Only)</small></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="tab-content"  *ngIf="profileData!=undefined">

						<!-- Profile Info Tab -->
						<div id="emp_profile" class="pro-overview tab-pane fade show active">
							<div class="row">
								<div class="col-md-6 d-flex">
									<div class="card profile-box flex-fill">
										<div class="card-body">
											<h3 class="card-title">Personal Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#personal_info_modal"><i class="fa fa-pencil"></i></a></h3>
											<ul class="personal-info" *ngIf="profileData.employeeSubDetails!=undefined">
<!--												<li>-->
<!--													<div class="title">Salutation:</div>-->
<!--													<div class="text">Mr.</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Full Name:</div>-->
<!--													<div class="text">Soumyadip</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Birth-Date:</div>-->
<!--													<div class="text">Soumyadip</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Location:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
												<li >
													<div class="title">Physically Handicapped:</div>
                          <div class="text"> <span *ngIf="profileData.employeeSubDetails.isHandicap=='0'">No</span><span *ngIf="profileData.employeeSubDetails.isHandicap=='1'">Yes</span></div>
												</li>

<!--										      	<li>-->
<!--													<div class="title">Permanent Address:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Home Address:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Postal Code:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Current Pincode:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->

<!--												<hr>-->
<!--												<li>-->
<!--													<div class="title">Birthday Celebration:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Birth Place:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Birth State:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Birth Country:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
													<li>
													<div class="title">Marital status  :</div>
													<div class="text"> {{profileData.employeeSubDetails.masterMaterialId.maritalDescription}}</div>
												</li>
													<li>
													<div class="title">Marriage Date:</div>
													<div class="text"> Abhi nahi hai</div>
												</li>
												<hr>
													<li>
													<div class="title">Blood Group:</div>
													<div class="text"> {{profileData.employeeSubDetails.empBloodGroup.bloodGroupDesc}}</div>
												</li>
<!--													<li>-->
<!--													<div class="title">Blood Group RH:</div>-->
<!--													<div class="text"> {{profileData.employeeSubDetails.empBloodGroup}}</div>-->
<!--												</li>-->
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6 d-flex" *ngIf="profileData.employeeSubDetails!=undefined">
									<div class="card profile-box flex-fill">
										<div class="card-body">
											<h3 class="card-title">Office Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#emergency_contact_modal"><i class="fa fa-pencil"></i></a></h3>

											<ul class="personal-info">
<!--												<li>-->
<!--													<div class="title">Staff Id:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
												<li>
													<div class="title">Deptartment:</div>
													<div class="text"> {{profileData.employeeSubDetails.department.empDepartmentName}}</div>
												</li>
<!--												<li>-->
<!--													<div class="title">Designation:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Reports to:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Category:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Grade:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Joining Date:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Confirmation Date:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Confirmation Date (Probitional):</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->

<!--												<li>-->
<!--													<div class="title">Shift:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
												<li>
													<div class="title">Attendence Type:</div>
													<div class="text">Demo</div>
												</li>



											<hr>
												<li>
													<div class="title">Notice Period:</div>
													<div class="text">Demo</div>
												</li>
												<li>
													<div class="title">Experience:</div>
													<div class="text">Demo</div>
												</li>
<!--												<li>-->
<!--													<div class="title">Working Number:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Working Fax:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<hr>-->
<!--													<li>-->
<!--													<div class="title">Rejoin Status:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--													<li>-->
<!--													<div class="title">Previous Position:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Previous ID:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row" *ngIf="profileData.employeeSubDetails!=undefined">
								<div class="col-md-6 d-flex">
									<div class="card profile-box flex-fill">
										<div class="card-body">
											<h3 class="card-title">Bank Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#personal_info_modal"><i class="fa fa-pencil"></i></a></h3>
											<ul class="personal-info">
<!--												<li>-->
<!--													<div class="title">Salary Hold:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Pay-Process Status:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<hr>-->
<!--												<li>-->
<!--													<div class="title">PF Applicable:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
												<li>
													<div class="title">PF No.:</div>
													<div class="text">{{profileData.employeeSubDetails.pfAccNo}}</div>
												</li>
<!--												<li>-->
<!--													<div class="title">GL Code.:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
												<li>
													<div class="title">Salary Payment Mode:</div>
													<div class="text"> Online</div>
												</li>
<!--												<li>-->
<!--													<div class="title">Pay Group:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Professional Tax:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Professional Tax Location:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
												<hr>
												<li>
													<div class="title">ESI Applicable:</div>
													<div class="text"> No</div>
												</li>
<!--												<li>-->
<!--													<div class="title">ESI No.:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">ESI Applied From:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->
                        <hr>
												<li>
													<div class="title">Bank Name:</div>
													<div class="text"> {{profileData.employeeSubDetails.bankName}}</div>
												</li>


												<li>
													<div class="title">BANK IFSC Code:</div>
													<div class="text"> Demo</div>
												</li>
												<li>
													<div class="title">Bank Account Number:</div>
													<div class="text"> {{profileData.employeeSubDetails.bankAccountNo}}</div>
												</li>
                        <li>
													<div class="title">Uan Number:</div>
													<div class="text"> {{profileData.employeeSubDetails.uanNo}}</div>
												</li>

											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6 d-flex">
									<div class="card profile-box flex-fill">
										<div class="card-body">
											<h3 class="card-title">Others Informations <a href="#" class="edit-icon" data-toggle="modal" data-target="#emergency_contact_modal"><i class="fa fa-pencil"></i></a></h3>

											<ul class="personal-info">

<!--													<li>-->
<!--													<div class="title">Contract Type:</div>-->
<!--													<div class="text"> Demo</div>-->
<!--												</li>-->

<!--												<li>-->
<!--													<div class="title">Contract Date:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Original Hire-Date:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Through Agency:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<hr>-->
												<li>
													<div class="title">Relevant Exp Years:</div>
													<div class="text">Demo</div>
												</li>
												<li>
													<div class="title">Other Exp Years:</div>
													<div class="text">Demo</div>
												</li>
<!--												<li>-->
<!--													<div class="title">Ethnic Race:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
												<hr>
<!--												<li>-->
<!--													<div class="title">Pan Number:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->


<!--												<li>-->
<!--													<div class="title">Social Security No.:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->

<!--											<hr>-->
<!--												<li>-->
<!--													<div class="title">Hiring Aggrement Name:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->


<!--												<li>-->
<!--													<div class="title">Hiring Activity Owner:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Hiring Activity Date:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<li>-->
<!--													<div class="title">Signed Contract:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
<!--												<hr>-->
<!--												<li>-->
<!--													<div class="title">Bussiness Name:</div>-->
<!--													<div class="text">Demo</div>-->
<!--												</li>-->
													<li>
													<div class="title">Preferd Email Lang.:</div>
													<div class="text">{{profileData.emailId}}</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- /Profile Info Tab -->



						<!-- Bank Statutory Tab -->
						<div class="tab-pane fade" id="bank_statutory" *ngIf="profileData.employeeSubDetails!=undefined">
							<div class="card">
								<div class="card-body">
									<h3 class="card-title"> Basic Salary Information</h3>
									<form>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Salary basis <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select salary basis type</option>
														<option>Hourly</option>
														<option>Daily</option>
														<option>Weekly</option>
														<option>Monthly</option>
													</select>
											   </div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Salary amount <small class="text-muted">per month</small></label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">₹</span>
														</div>
														<input type="text" class="form-control" placeholder="Type your salary amount" value="0.00">
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Payment type</label>
													<select class="select">
														<option>Select payment type</option>
														<option>Bank transfer</option>
														<option>Check</option>
														<option>Cash</option>
													</select>
											   </div>
											</div>
										</div>
										<hr>
										<h3 class="card-title"> PF Information</h3>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">PF contribution</label>
													<select class="select">
														<option>Select PF contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">PF No. <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select PF contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Employee PF rate</label>
													<select class="select">
														<option>Select PF contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select additional rate</option>
														<option>0%</option>
														<option>1%</option>
														<option>2%</option>
														<option>3%</option>
														<option>4%</option>
														<option>5%</option>
														<option>6%</option>
														<option>7%</option>
														<option>8%</option>
														<option>9%</option>
														<option>10%</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Total rate</label>
													<input type="text" class="form-control" placeholder="N/A" value="11%">
												</div>
											</div>
									   </div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Employee PF rate</label>
													<select class="select">
														<option>Select PF contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select additional rate</option>
														<option>0%</option>
														<option>1%</option>
														<option>2%</option>
														<option>3%</option>
														<option>4%</option>
														<option>5%</option>
														<option>6%</option>
														<option>7%</option>
														<option>8%</option>
														<option>9%</option>
														<option>10%</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Total rate</label>
													<input type="text" class="form-control" placeholder="N/A" value="11%">
												</div>
											</div>
										</div>

										<hr>
										<h3 class="card-title"> ESI Information</h3>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">ESI contribution</label>
													<select class="select">
														<option>Select ESI contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">ESI No. <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select ESI contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Employee ESI rate</label>
													<select class="select">
														<option>Select ESI contribution</option>
														<option>Yes</option>
														<option>No</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Additional rate <span class="text-danger">*</span></label>
													<select class="select">
														<option>Select additional rate</option>
														<option>0%</option>
														<option>1%</option>
														<option>2%</option>
														<option>3%</option>
														<option>4%</option>
														<option>5%</option>
														<option>6%</option>
														<option>7%</option>
														<option>8%</option>
														<option>9%</option>
														<option>10%</option>
													</select>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-form-label">Total rate</label>
													<input type="text" class="form-control" placeholder="N/A" value="11%">
												</div>
											</div>
									   </div>

										<div class="submit-section">
											<button class="btn btn-primary submit-btn" type="submit">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Bank Statutory Tab -->

					</div>
                </div>
				<!-- /Page Content -->
				<form action="google.com" [formGroup]="formDataBasic" *ngIf="profileData!=undefined">
				<!-- Profile Modal -->
				<div id="profile_info" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Profile Information</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div class="profile-img-wrap edit-img">
												<img class="inline-block" src="assets/img/profiles/avatar-02.jpg" alt="user">
												<div class="fileupload btn">
													<span class="btn-text">edit</span>
													<input class="upload" type="file">
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Name</label>
														<input type="text" class="form-control" [(ngModel)]="profileData.empName" formControlName="name" readonly>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Birth Date</label>
														<div class="cal-icon">
															<input class="form-control datetimepicker" type="text" formControlName="dob">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-focus select-focus">
														<label>Gender</label>
<!--                            <ng-select class="select form-control" style="width: 100%" [items]="gender"-->
<!--                                       bindLabel="genderDesc" placeholder="Select Gender" formControlName="gender">-->
<!--                            </ng-select>-->
                            <select class="select form-control">
                              <option *ngFor="let option of gender" [value]="option">{{ option.genderDesc }}</option>
                            </select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
<!--										<div class="col-md-12">-->
<!--											<div class="form-group">-->
<!--												<label>Permanent Address</label>-->
<!--												<input type="text" class="form-control" value="4487 Snowbird Lane">-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="col-md-6">-->
<!--											<div class="form-group">-->
<!--												<label>State</label>-->
<!--												<input type="text" class="form-control" value="New York">-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="col-md-6">-->
<!--											<div class="form-group">-->
<!--												<label>Country</label>-->
<!--												<input type="text" class="form-control" value="United States">-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="col-md-6">-->
<!--											<div class="form-group">-->
<!--												<label>Pin Code</label>-->
<!--												<input type="text" class="form-control" value="10523">-->
<!--											</div>-->
<!--										</div>-->
										<div class="col-md-6">
											<div class="form-group">
												<label>Phone Number</label>
												<input type="text" class="form-control" formControlName="phone" [(ngModel)]="profileData.mobileNo" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus select-focus">
												<label>Department <span class="text-danger">*</span></label>
												<select class="select floating">
													<option>Select Department</option>
													<option>Web Development</option>
													<option>IT Management</option>
													<option>Marketing</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus select-focus">
												<label>Designation <span class="text-danger">*</span></label>
<!--												<select class="select floating">-->
<!--													<option>Select Designation</option>-->
<!--													<option>Web Designer</option>-->
<!--													<option>Web Developer</option>-->
<!--													<option>Android Developer</option>-->
<!--												</select>-->
                        <select class="select form-control" formControlName="designation" [(ngModel)]="userDesignation" >
                          <option *ngFor="let option of designation" [ngValue]="option">{{option.empDesignationName}}</option>
                        </select>
											</div>
										</div>
<!--                    <div class="col-md-6">-->
<!--                      <div class="form-group">-->
<!--                        <label>Designation <span class="text-danger">*</span></label>-->
<!--                        <ng-select [items]="designation" [(ngModel)]="profileData.empDesignation"></ng-select>-->
<!--                      </div>-->
<!--                    </div>-->
										<div class="col-md-6">
											<div class="form-group form-focus select-focus">
												<label>Reports To <span class="text-danger">*</span></label>
												<select class="select floating">
													<option>Select Report Person</option>
													<option>Wilmer Deluna</option>
													<option>Lesley Grauer</option>
													<option>Jeffery Lalor</option>
												</select>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Profile Modal -->

				<!-- Personal Info Modal -->
				<div id="personal_info_modal" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Personal Information</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Passport No</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Passport Expiry Date</label>
												<div class="cal-icon">
													<input class="form-control datetimepicker" type="text">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Tel</label>
												<input class="form-control" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Nationality <span class="text-danger">*</span></label>
												<input class="form-control" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Religion</label>
												<div class="cal-icon">
													<input class="form-control" type="text">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Marital status <span class="text-danger">*</span></label>
												<select class="select form-control">
													<option>-</option>
													<option>Single</option>
													<option>Married</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Employment of spouse</label>
												<input class="form-control" type="text">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>No. of children </label>
												<input class="form-control" type="text">
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Personal Info Modal -->

				<!-- Family Info Modal -->
				<div id="family_info_modal" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"> Family Informations</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="form-scroll">
										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Family Member <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Name <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Relationship <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Date of birth <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Phone <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Name <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Relationship <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Date of birth <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Phone <span class="text-danger">*</span></label>
															<input class="form-control" type="text">
														</div>
													</div>
												</div>
												<div class="add-more">
													<a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Family Info Modal -->

				<!-- Emergency Contact Modal -->
				<div id="emergency_contact_modal" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Personal Information</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="card">
										<div class="card-body">
											<h3 class="card-title">Primary Contact</h3>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Name <span class="text-danger">*</span></label>
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Relationship <span class="text-danger">*</span></label>
														<input class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Phone <span class="text-danger">*</span></label>
														<input class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Phone 2</label>
														<input class="form-control" type="text">
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-body">
											<h3 class="card-title">Primary Contact</h3>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Name <span class="text-danger">*</span></label>
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Relationship <span class="text-danger">*</span></label>
														<input class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Phone <span class="text-danger">*</span></label>
														<input class="form-control" type="text">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Phone 2</label>
														<input class="form-control" type="text">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Emergency Contact Modal -->

				<!-- Education Modal -->
				<div id="education_info" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"> Education Informations</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-scroll">
										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Oxford University" class="form-control floating">
															<label class="focus-label">Institution</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Computer Science" class="form-control floating">
															<label class="focus-label">Subject</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<div class="cal-icon">
																<input type="text" value="01/06/2002" class="form-control floating datetimepicker">
															</div>
															<label class="focus-label">Starting Date</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<div class="cal-icon">
																<input type="text" value="31/05/2006" class="form-control floating datetimepicker">
															</div>
															<label class="focus-label">Complete Date</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="BE Computer Science" class="form-control floating">
															<label class="focus-label">Degree</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Grade A" class="form-control floating">
															<label class="focus-label">Grade</label>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Oxford University" class="form-control floating">
															<label class="focus-label">Institution</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Computer Science" class="form-control floating">
															<label class="focus-label">Subject</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<div class="cal-icon">
																<input type="text" value="01/06/2002" class="form-control floating datetimepicker">
															</div>
															<label class="focus-label">Starting Date</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<div class="cal-icon">
																<input type="text" value="31/05/2006" class="form-control floating datetimepicker">
															</div>
															<label class="focus-label">Complete Date</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="BE Computer Science" class="form-control floating">
															<label class="focus-label">Degree</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus focused">
															<input type="text" value="Grade A" class="form-control floating">
															<label class="focus-label">Grade</label>
														</div>
													</div>
												</div>
												<div class="add-more">
													<a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Education Modal -->

				<!-- Experience Modal -->
				<div id="experience_info" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Experience Informations</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-scroll">
										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="Digital Devlopment Inc">
															<label class="focus-label">Company Name</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="United States">
															<label class="focus-label">Location</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="Web Developer">
															<label class="focus-label">Job Position</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<div class="cal-icon">
																<input type="text" class="form-control floating datetimepicker" value="01/07/2007">
															</div>
															<label class="focus-label">Period From</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<div class="cal-icon">
																<input type="text" class="form-control floating datetimepicker" value="08/06/2018">
															</div>
															<label class="focus-label">Period To</label>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card">
											<div class="card-body">
												<h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa fa-trash-o"></i></a></h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="Digital Devlopment Inc">
															<label class="focus-label">Company Name</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="United States">
															<label class="focus-label">Location</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<input type="text" class="form-control floating" value="Web Developer">
															<label class="focus-label">Job Position</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<div class="cal-icon">
																<input type="text" class="form-control floating datetimepicker" value="01/07/2007">
															</div>
															<label class="focus-label">Period From</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group form-focus">
															<div class="cal-icon">
																<input type="text" class="form-control floating datetimepicker" value="08/06/2018">
															</div>
															<label class="focus-label">Period To</label>
														</div>
													</div>
												</div>
												<div class="add-more">
													<a href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Add More</a>
												</div>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Experience Modal -->
				</form>
            </div>
			<!-- /Page Wrapper -->
