/* You can add global styles to this file, and also import other style files */
.timestamp{
    font-size: 13px;
    color: #777;
}
.subdrop .menu-arrow {
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}