/* You can add global styles to this file, and also import other style files */
a{
  cursor: pointer !important;
}
.timestamp{
    font-size: 13px;
    color: #777;
}
.subdrop .menu-arrow {
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}
.collapsed{
    display:none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transition-delay: 2s;
  }
  .show{
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }


  .slide-bar {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -370px;
    width: 350px;
    height: 100%;
    display: block;
    background:linear-gradient(to right, #FF9B44 0%, #ee3133 100%);
    z-index: 1900;
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}
.slide-bar.show {
  right: 0;
}
.slide-wrap{
  padding: 25px 30px;
}
.offset-sidebar h4{
  color: #000;
}
.offset-sidebar {
  display: block;
  margin-top: 15px;
  border-radius: 8px;
  

}
.offset-widget.offset-logo {
  
  padding-top: 20px;
  text-align: center;

}
.bb{
  border-bottom: 1px solid #474747;
}
.offset-widget.offset-logo img{
  width: 100px;
}
.offset-widget{
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}
.edit-icon:hover{
  color: #fff !important;
}

.ms-2{
margin-left: 5px;
}
.me-2{
  margin-right: 5px;
  }
  .close-mobile-menu svg{
    color: #ffffff;
    font-size: 22px;
    
  }
  .close-mobile-menu{
    padding: 15px;
    background: #34444c;
    color: #ffffff;
    text-align: center;
  }
  .close-mobile-menu a{
    position: absolute;
    left: 10px;
  }